body {
	margin: 0;
	background-color: #f1f1f1;
	font-family: Arial, Helvetica, sans-serif;
}

nav {
	overflow: hidden;
	margin: 0;
	background-color: #3535b0;
}

nav ul {
	margin: 0;
	margin-left: 1em;
	padding: 0;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
}

nav > ul > li > a {
	color: #f1f1f1;
	background-color: #3535b0;
	display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

nav > ul > li > a:hover {
	background-color: #1d2d8a;
}

nav > ul > li > a.active {
	background-color: #ebc400;
	color: #3535b0;
}

section {
	width: 50%;
	height: auto;
	margin-left: 20%;
	color: black;
	background-color: lightgrey;
	padding-left: 0.5em;
	padding-bottom: 0.5em;
}

article {
	background-color: #eee8e8;
	margin-left: 1em;
	margin-right: 1em;
}

article img {
	margin-left: 1em;
	margin-right: 1em;
	width: 8%;
	height: auto;
	float: left;
	overflow: hidden;
}

footer {
	overflow: hidden;
	color: #f1f1f1;
	background-color: #3535b0;
}

footer p {
	margin-left: 2em;
}

article iframe {
	width: auto;
	height: auto;
	margin-left: 2%;
}
